[default]
epoch = 2015-09-17T00:00:00
nova_databases = nova,nova_cell0

[baremetal]
properties = node_type,placement.rack,architecture.platform_type,main_memory.ram_size,architecture.smt_size,architecture.smp_size,storage_devices.0.size
rack_property_name = placement.rack

[backup]
backup_dir = 
backup_file_regex = mysql_backup_(\d{8})-(\d{6}).sql.bz2
backup_file_reducable_prefix_len = 0
backup_file_reducable_suffix_len = 0

[kvm]
hypervisor_hostname_regex = (\w\d{2})-(\d{2}).chameleon.tacc.utexas.edu
rack_extract_group = 1

[multithread]
number_of_files_per_process = 30
